<br>
<div class="container">
  <div class="row ">
    <div class="col-sm-4 col-sm-offset-4">
      <%= form_for(poetry) do |f| %>
      <div class="form-group">
        <%= f.label :title, "Titolo"%>
        <%= f.text_field :title, as: :string, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :body, "Poesia"%>
        <%= f.text_area :body, rows: 20, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :author, "Autore" %>
        <%= f.text_field :author, as: :string, label: false, class: 'form-control' %>
      </div>

      <%= f.submit "Conferma",  class:"btn btn-secondary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>

