<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to poetries_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.jpg", height: 50 %>

  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <%= form_tag(poetries_path, :method => "get", id: "search-form", :class => "search-bar-navbar") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Cerca una poesia" %>
        <%= submit_tag "Cerca" %>
      <% end %>
    <!-- Links when logged in -->


<div class="navbar-wagon-item" id="poesie-dropdown">
      <div class="dropdown">
         <%= link_to "Poesie", poetries_path, class: "navbar-wagon-item navbar-wagon-link", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <%= link_to poetries_path do %>
           <%= t(".profile", default: "Tutte") %>
            <% end %>
          <li>
            <%= link_to famous_poetries_path do %>
            <%= t(".profile", default: "D'autore") %>
            <% end %>
          </li>
          <li>
            <%= link_to amateur_poetries_path do %>
            <%= t(".settings", default: "Amatoriali") %>
            <% end %>
          </li>
<!--           <li>
            <%= link_to "#" do %>
            <%= t(".settings", default: "Filtri") %>
            <% end %>
          </li> -->
        </ul>
      </div>
    </div>

<!--
    <%= link_to "Poesie", poetries_path, class: "navbar-wagon-item navbar-wagon-link" %> -->
    <%= link_to "Aggiungi una Poesia", poetries_new_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "user_profile.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
            <i></i> <%= t(".profile", default: "Modifica Profilo") %>
            <% end %>
          </li>
<!--           <li>
            <%= link_to "#" do %>
            <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
            <% end %>
          </li> -->
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->

<!--         <div id="imaginary_container">
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control"  placeholder="Cerca una poesia" >
        <span class="input-group-addon">
          <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div> -->


    <%= form_tag(poetries_path, :method => "get", id: "search-form", :class => "search-bar-navbar") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Cerca una poesia" %>
    <%= submit_tag "Cerca" %>
    <% end %>

    <%= link_to "Aggiungi una Poesia", poetries_new_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_in", default: "Login/Registrati"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

<!-- Mobile logged out
 -->
<% if user_signed_in? %>

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Modifica profilo", edit_user_registration_path %> </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>

<% else %>

<!-- Mobile logged out
 -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>    <%= link_to t(".sign_in", default: " Login/Registrati"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li> <%= form_tag(poetries_path, :method => "get", id: "search-form", :class => "search-bar-navbar") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Cerca una poesia", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= submit_tag "Cerca", class: "btn btn-primary"%>
      <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<% end %>


